__pycache__/
myenv/
results/
results2/
results3/
results4/
results5/
las_results/
baseline_iid_results/
baseline_noniid_results/
data/*
!data/.gitkeep
checkpoints/
metrics/
metrics 2/
plots/
plots2/
plott/
.python-version
run_cif_experiments_dyn.sh
run_experiments_las.sh
run_tin_experiments.sh
run_CPU_experiments.sh
run_batch_experiments.sh
results.csv
more_results.csv
plotting2.py
test.sh
experiments.txt
las_experiments.txt
final_results.csv
final_results_copy.csv
exp_results/
checkpoints2/
all_not_in_use/
checkpoints3/
fin_exp_results/
xfin_exp_results_test/
xxfin_exp_results/
xxfin_exp_results_test/
final baseline checkpoints/