__pycache__/
myenv/
results/
results2/
results3/
results4/
data/
checkpoints/
metrics/
plots/
.python-version
fed_job.sh
run_cif_experiments_dyn.sh
run_cif_experiments_prox.sh
run_cif_experiments_las.sh
run_tin_experiments.sh
run_CPU_experiments.sh
TIN_job.sh
import_tin.py
results.csv
plotting.py
plotting.sh
plotting2.py